---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import FormattedDate from "../components/FormattedDate.astro";
import {getCollection} from "astro:content";

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 class="font-bold">Hello 👋</h1>
			<p>
				Welcome to my blog, this is my personal space where I write, yap, and complain about stuff that not necessary could be about programming but could also
				be related to my own life, and personal learning.
				If you would like to find more information about me you can visit <a href="https://raymond.moe">raymond.moe</a>
			</p>
			<p>This is currently on a revamp. I am trying to reduce the bloat on my old website, this may or may not stay but I'm liking astro so far...</p>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.id}/`}>
									<img width={720} height={360} src={post.data.heroImage} alt="" />
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>	
		</main>
		<Footer />
	</body>
</html>
